@model TheMen.Models.Customer

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutShare.cshtml";
}
<head>
    <meta charset="utf-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="~/css/style-login.css" />
</head>

<body>
    <div class="container-main">
        <div class="box-main">
            <div class="main">
                <div class="clear">
                    <h2 class="line">ĐĂNG NHẬP</h2>
                    <div class="row">
                        <table class="table">
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)
                                <tr style="height:40px">
                                    <td> Tên đăng nhật:</td>
                                    <td>
                                        @Html.TextBox("Account")
                                        @ViewData["Loi1"]
                                    </td>
                                </tr>
                                <tr style="height:40px">
                                    <td align="right">  Mật khẩu:</td>
                                    <td>
                                        @Html.Password("Pass")
                                        @ViewData["Loi2"]
                                    </td>
                                </tr>
                                <tr style="height:40px">
                                    <td></td>
                                    <td>
                                        <input type="Submit" value="Đăng nhập" />
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>